<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<body>

    <section>        
      <header>
        <h2><a href="#" class="logo">Runtime Terror</a></h2>
        <!-- <div class="navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Info</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </div> -->
      </header>
      <div class="content">
        <div class="info">
          <h2>Performance Appraisal System <br><span>Tell Us!</span></h2>
          <p>About your organization</p>
          <a href="#" class="info-btn" routerLink="/organization/create">Start</a>
        </div>
      </div>
      <div class="media-icons" >
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </section>

  </body>