<div class="main-content">
  <!-- Page content -->

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <a href="#">
          <img src="https://us.123rf.com/450wm/tanyadanuta/tanyadanuta1910/tanyadanuta191000003/148019275-hand-drawn-modern-man-avatar-profile-icon-or-portrait-icon-user-flat-avatar-icon-sign-profile-male-s.jpg?ver=6" class="rounded-circle" width="180" height="180">
        </a>
        <div class="performance">
          <h1 class="display-2 text-blue">Hello {{userDetails.firstName}}</h1>
          <p class="text-blue mt-0" >This is your profile page. You can see the performance you've made with your work by clicking the button below</p>
          <a routerLink="/changepassword" class="btn btn-info">Change Password</a>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div position=relative class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
            </div>
          </div>
          <div class="card-body">

            <form #form="ngForm" >
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-firstname" >First Name :</label>
                      <strong>{{userDetails.firstName}}</strong>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-lastname">Last Name :</label>
                      <strong>{{userDetails.lastName}}</strong>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-email">Email :</label>
                      <strong>{{userDetails.email}}</strong>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-designation">Designation</label>
                      <input type="text" id="input-email" name="designation" #designation="ngModel" [(ngModel)]="employee.designation" class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">General information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input id="input-address" name="address" #address="ngModel" [(ngModel)]="employee.address" class="form-control form-control-alternative" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" id="input-city" name="city" #city="ngModel" [(ngModel)]="employee.city" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input type="text" id="input-country" name="country" #country="ngModel" [(ngModel)]="employee.country" class="form-control form-control-alternative" >
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      <input type="number" id="input-postal-code" name="postalCode" #postalCode="ngModel" [(ngModel)]="employee.postalCode" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-4 text-right">
                    <button class="btn btn-sm btn-primary" [disabled]="form.invalid">Update Employee</button>
                    <button class="btn btn-sm btn-primary" routerLink="../employee-list">Cancel</button>
                  </div>
                </div>
              </div>
              <!-- <hr class="my-4">
               Description
               <h6 class="heading-small text-muted mb-4">Two Step Authentication</h6>
              <div class="pl-lg-4">
                <div class="form-group focused">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-danger active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Disabled
                    </label>
                    <label class="btn btn-success">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Enabled
                    </label>
                  </div>
                </div>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
